{% extends 'index.html' %}
{% block title %} Our Rooms {% endblock %}
{% load static %}

{% block content %}
<div class="back_re">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="title text-center">
               <h2>Our Rooms</h2>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- Our Rooms Section -->
<div class="our_room">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="titlepage text-center">
               <p class="margin_0">Explore our luxurious and comfortable rooms designed to meet your needs.</p>
            </div>
         </div>
      </div>
      <div class="row">
         {% for i in "123456" %}
         <div class="col-md-4 col-sm-6">
            <div class="room" id="serv_hover">
               <div class="room_img">
                  <figure>
                     <img src="{% static 'images/room' %}{{ i }}.jpg" alt="Room {{ i }}" class="img-fluid"/>
                  </figure>
               </div>
               <div class="bed_room text-center">
                  <h3>Deluxe Room {{ i }}</h3>
                  <p>Experience unmatched comfort with modern amenities and a cozy ambiance.</p>
               </div>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
</div>
<!-- End Our Rooms Section -->

{% endblock %}
